@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

#props {
	display: none;
}

.flex-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.flex-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100%;
	width: 100%;
	button {
		height: 100%;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		i {
			font-size: 2em;
		}
	}
}

.flex-text {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	width: 100%;
}