@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

.flex-button {
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		height: 100%;
		width: 100%;
		i {
			font-size: 2em;
		}
	}
}
